<head>
    <link href="{{ url_for('static', filename='app.css') }}" rel="stylesheet">
</head>
{% extends "bootstrap/base.html" %} 
{% block title %} File Upload {% endblock %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="main-container container-fluid">
    <nav class="main-nav navbar">
        <div class="container-fluid">
            <div class="navbar-header"><h1 class="title">Menu</h1></div>
        </div>
    </nav>

    {{ util.flashed_messages(dismissible=True) }}
    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-6 col-md-4">
        <div class="row">
            <h1>Upload a file:</h1>
            <form class="form" id="file_upload" method="POST" enctype=multipart/form-data action="{{ url_for('index') }}">
                <div class="file-form form-group">
                    <label for="file_upload_field">File</label>
                    <input class="" placeholder="Excel or CSV file" type="file" name="upload" id="file_upload_field">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
  <div class="col-xs-6 col-md-4"></div>

</div>
{% endblock %}
