{% extends "bootstrap/base.html" %} {% block title %}File Upload{% endblock %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
<div class="container-fluid">
    {{ util.flashed_messages(dismissible=True) }} 
    <div class="row">
        <h1>Upload a file:</h1>
        <form class="" id="file_upload" method="POST" enctype=multipart/form-data action="{{ url_for('index') }}">
            <div class="form-group">
                <label for="file_upload_field">File</label>
                <input class="form-control" placeholder="Excel or CSV file" type="file" name="upload" id="file_upload_field">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
